<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<section>
    <div class="expenses-container" id="container">
        <div class="expenses-form-container expenses-info-container">
            <h1>Expenses</h1>
        </div>
    </div>
</section>