<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<section>
    <div class="goals-container" id="container">
        <div class="goals-form-container goals-info-container">
            
        </div>
        <div class="goals-overlay-container">
            <div class="goals-overlay">
                <div class="goals-overlay-panel">
                    <h1 class="title">Goals</h1>
                    <p>In this page you can set up financial goals or see goals that you had set up in the past. You manage them here for your records</p>
                    <form action="/Home_Page" method="GET">
                        <button class="ghost"> Dashboard </button>
                    </form>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <span>Your ID: <%= id %></span>
                </div>
            </div>
        </div>
    </div>
</section>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js'></script>