<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<section>
    <div class="goals-container" id="container">
        <div class="goals-form-container goals-info-container">
            <h1>Goals</h1>
        </div>
    </div>
</section>