<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<section>
    <div class="profile-container" id="container">
        <div class="form-container profile-info-container">
            
        </div>
    </div>
</section>