section {
  animation: transition-page 1s;
}

@keyframes transition-page {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body {
    width: 100%;
    height: 100%;
  }
  body {
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
    overflow: hidden;
  }
  
  .ocean {
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
        transform: translate3d(0,-25px,0);
    }
    50% {
        transform: translate3d(0,5px,0);
    }
  }
  
  /* Login Section Style */
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    margin-top: 20px;
  }
  
  h1 {
    font-weight: bold;
    margin: 0;
  }
  
  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
  }
  
  span {
    font-size: 12px;
  }
  
  a {
    color: #0e263d;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  /* Sign in and Sign up css ------------------------------------------------------*/
  .container {
    background: #fff;
    border-radius: 90px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    transition: 333ms;
  }
  
  .form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .social-container {
    margin: 20px 0;
    display: block;
  }
  
  
  .social-container a {
    border: 1px solid #008ecf;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: 333ms;
  }
  .social-container a:hover {
    transform: rotateZ(13deg);
    border: 1px solid #0e263d;
  }
  
  .form-container input {
    background: #eee;
    border: none;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  .form-container input:hover {
    transform: scale(101%);
  }
  
  button {
    border-radius: 50px;
    box-shadow: 0 1px 1px ;
    border: 1px solid #008ecf;
    background: #008ecf;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background: transparent;
    border-color: #fff;
  }
  
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
  }

  /*---------------------------------------------------------------*/


/* profile css styles ------------------------------------------------- */

  .profile-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
  }

  .profile-form-container input {
    background: #eee;
    border: none;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .profile-form-container h1{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 0px 20px;
    width: 100%;
    text-align: center;
  }

  .profile-form-container input:hover {
    transform: scale(101%);
  }

  .profile-form-container form {
    background: #fff;
    display: flex;
    flex-direction: row;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .profile-form-container div {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    height: 100%;
  }

  .profile-container {
    background: #fff;
    border-radius: 90px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 1400px;
    max-width: 100%;
    min-height: 700px;
    transition: 333ms;
  }

  .profile-info-container {
    right: 0;
    width: 80%;
    z-index: 2;
  }

  .profile-left-input {
    left: 0;
    width: 50%;
    z-index: 3;
  }

  .profile-right-input {
    right: 0;
    width: 50%;
    z-index: 3;
  }

  .profile-overlay-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
  }

  .profile-overlay {
    background: #ff416c;
    background: linear-gradient(to right, #008ecf, #008ecf) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }

  .profile-overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }
  /*-----------------------------------------------------------------------*/


  /*Dashboard css styles---------------------------------------------------*/

  .dashboard-container {
    background: #fff;
    border-radius: 90px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 1650px;
    max-width: 100%;
    min-height: 750px;
    transition: 333ms;
  }

  .dashboard-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all .6s ease-in-out;
  }

  .dashboard-form-container input {
    background: #eee;
    border: none;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .dashboard-form-container h1{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 0px 20px;
    width: 100%;
    text-align: center;
  }

  .dashboard-form-container input:hover {
    transform: scale(101%);
  }

  .dashboard-form-container form button{
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .dashboard-form-container div {
    background: #fff;
  }


  .dashboard-container-c {
    display: flex;
    height: 100%;
  }
  
  .recent-activity {
    width: 40%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: auto;
  }
  
  .account-activity {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .upper-half {
    margin: 50px;
    height: 50%;
    display: flex;
  }
  
  .lower-half {
    height: 50%;
    background-color: #e0e0e0;
    display: flex;
  }

  .menu {
    width: 100%; /* Set the width to 100% */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .recent-transactions {
    padding: 20px;
  }
  
  .account-summary {
    padding: 20px;
  }
  
  .financial-goals {
    padding: 20px;
    border-top: 1px solid #ccc;
  }
  
  #spendingChart {
    width: 100%; /* Make the chart take the full width of the container */
    height: auto; /* Allow the height to adjust based on the width */
  }
  
  
  .transaction-list {
    list-style: none;
    padding: 0;
  }
  
  .transaction-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .transaction-item:last-child {
    border-bottom: none; 
  }
  
  .transaction-date,
  .transaction-description,
  .transaction-amount {
    flex: 1;
  }
  
  .recent-transactions h2 {
    font-size: 1.2em;
    margin-bottom: 3%;
    margin-left: 3%;
  }
  
  .transaction-date {
    margin-right: 2%;
  }
  
  .transaction-description {
    margin-right: 2%;
  }
  
  .transaction-amount {
    font-weight: bold;
  }
  
  #spendingChart {
      width: 100%;
      height: 100%; /* Adjust the height to your preference */
  }
  
  .account-summary {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
  }

  /*-----------------------------------------------------------------------*/

  /*Expenses css styles----------------------------------------------------*/
  .expenses-container {
    background: #fff;
    border-radius: 90px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 1400px;
    max-width: 100%;
    min-height: 700px;
    transition: 333ms;
  }

  .expenses-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
  }

  .expenses-form-container input {
    background: #eee;
    border: none;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .expenses-form-container h1{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 0px 20px;
    width: 100%;
    text-align: center;
  }

  .expenses-form-container input:hover {
    transform: scale(101%);
  }

  .expenses-form-container form {
    background: #fff;
    display: flex;
    flex-direction: row;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .expenses-form-container div {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    height: 100%;
  }
  /*-----------------------------------------------------------------------*/

  /*Goals css styles-------------------------------------------------------*/
  .goals-container {
    background: #fff;
    border-radius: 90px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 1400px;
    max-width: 100%;
    min-height: 700px;
    transition: 333ms;
  }

  .goals-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
  }

  .goals-form-container input {
    background: #eee;
    border: none;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .goals-form-container h1{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 0px 20px;
    width: 100%;
    text-align: center;
  }

  .goals-form-container input:hover {
    transform: scale(101%);
  }

  .goals-form-container form {
    background: #fff;
    display: flex;
    flex-direction: row;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .goals-form-container div {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    height: 100%;
  }
  /*-----------------------------------------------------------------------*/
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
  }
  
  .overlay {
    background: #ff416c;
    background: linear-gradient(to right, #008ecf, #008ecf) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }
  
  .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }
  
  .overlay-right {
    right: 0;
    transform: translateY(0);
  }
  
  .overlay-left {
    transform: translateY(-20%);
  }
  
  /* Move signin to right */
  .container.right-panel-active .sign-in-container {
    transform: translateY(100%);
  }
  
  /* Move overlay to left */
  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  /* Bring signup over signin */
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }
  
  /* Move overlay back to right */
  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  /* Bring back the text to center */
  .container.right-panel-active .overlay-left {
    transform: translateY(0);
  }
  
  /* Same effect for right */
  .container.right-panel-active .overlay-right {
    transform: translateY(20%);
  }